<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505789696745-3tks6it5v3gb7oc40eidqpgu60o1dsl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505789696745-3tks6it5v3gb7oc40eidqpgu60o1dsl0</string>
	<key>API_KEY</key>
	<string>AIzaSyDF0dbFu99lDhecI9KAQugZNY0SDEfZpCs</string>
	<key>GCM_SENDER_ID</key>
	<string>505789696745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-87907</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-87907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505789696745:ios:389282e2bbfd27a3733e78</string>
</dict>
</plist>